body {
  font-family: "Montserrat", sans-serif;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.row{
  margin: auto 0;
}
header {
  height: 700px;
  background-image: url(./img/firstbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a:hover {
  text-decoration: none;
  color: #2ebaee;
}
header div.menu {
  /* position: fixed; */
  width: 100%;
  height: 134px;
  background: rgba(0, 0, 0, 0.7);
}
header div.menu a h2 {
  color: #fff;
  display: block;
  padding-top: 50px;
  padding-left: 100px;
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  list-style-type: none;
  margin: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 50px;
  padding-top: 50px;
}
header nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header div.call-to {
  margin-top: 70px;  
}
.my-image{
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.my-image1{
  border-radius: 100%;
  border: snow solid;
}
.main-center{
  display: flex;
  justify-content: center;
}
.main-title{
  font-family: monospace;
  width: 13ch;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid white;
  animation: flashing-border 0.75s step-end infinite,
  printed-text 2s steps(13) ;
}
.main-title span{
  color: #2ebaee;
}
@keyframes flashing-border{
  0%{
    border-color: rgb(238, 125, 26);
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: rgb(195, 94, 6);
  }
}
@keyframes printed-text{
  from{
    width: 0;
  }

}

.main-zag{ 
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}
section div.kto a {
  display: flex;
  width: 100px;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2ebaee;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
section div.kto {
  background-color: #0d0116;
  text-align: center;
  color: #fff;
}
section div.kto h1 {
  color: #f89d36;
  margin-top: 150px;
  font-size: 32px;
  font-weight: bold;
}
section div.kto h2 {
  margin: 0 5px;
  font-size: 20px;
}

section div.kto h2 span{
  font-size: 22px;
  color: #f89d36;
}

section div.kto p {
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
  margin-top: 30px;
}
.myphoto2 img {
  padding: 50px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.offer-sec {
  background-color: #0d0116;
  color: #fff;
  padding: 60px;
  text-align: center;
}
.offer {
  margin: auto;
  text-align: center;
}

section div.services {
  background-color: #0d0116;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.tema{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  margin: 30px 0;
}
.media {
  padding: 30px 100px;
}
.media-body {
  text-align: left;
}
.mobNav{
  display: none;
}
.insta-icon, .tele-icon{
  display: none;
}
.contact {
  padding-top: 20px;
  padding-bottom: 50px;
}
.contact .icon{
  font-size: 30px;
  margin-bottom: 30px;
}
.text-muted{
  margin-top: 20px;
  color: #6c757d;
}
.contact-form .row, .input{
  padding-bottom: 20px;
}
.submitBnt{
  background-color: #f89d36;
  color: #fff;
  margin-bottom: 70px;
}
.footer {
  display: block;
  padding: 60px 0;
  position: relative;
  color: #adb5bd;
  font-size: 15px;
}
.footer h3{
  color: #fff;
  margin-bottom: 15px;
}
.social-icons{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .icon{
  font-size: 20px;
  color: #6c757d;
  margin-right: 20px;
}
hr{
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #495057;
}
.footer.footer-bar{
  padding: 20px 0;
}

@media (max-width: 768px) {
  section div.kto h1 {
    margin-top: 50px;
  }
  .menu-drop{
    display: none;
  }
  header div.menu {    
    height: 60px;
    background: rgba(0, 0, 0, 0.9);
  }
  header div.menu a h2 {
    font-size: 25px;
    color: #fff;
    display: block;
    padding-top: 15px;
    padding-left: 30px;
    text-decoration: none;
  }
  .mobNav{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 20px;
    margin-top: -50px;
  }
  .csstoggle{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
  }
  .csstoggle ul li {
    margin: 0;
    padding: 20px;
    display: block;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 15px;
  }
  .icons a{
    display: inline-block;
    margin-right: 20px;
  }
  .col-8{
    width: 100%;
  }
}